@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Espacio para pruebas */
/* Fin de espacio para pruebas */
/* ------- Index ------- */
body {
  background-color: rgb(48, 0, 0);
  font-family: "Raleway", sans-serif;
  color: white;
  /* Esto permite que el footer se mantenga siempre al fondo de la página */
  position: relative;
  min-height: 100vh;
}

.index_orden {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
}

main {
  /* Esto permite que el footer se mantenga siempre al fondo de la página */
  padding-bottom: 5.5rem;
  grid-area: main;
}

header {
  grid-area: header;
}

/* Header*/
/* Para el menu mobile */
#menu_check, .nav_Bar label {
  margin-left: 20px;
  scale: 2;
  display: none;
}

/* Barra de Navegación */
.nav_Bar {
  display: flex;
  width: 100%;
  height: 50px;
  filter: drop-shadow(0 1px 3px black);
  background-color: rgb(61, 0, 0);
  list-style: none;
  /* estas propiedades mantienen la barra de navegación por encima de todo y que mantenga su posicion en la parte superior de la pantalla */
  position: fixed;
  top: 0;
  z-index: 10;
  /* Posición de los links en la barra de navegación */
  /* Posición de logo en la barra de navegación */
}
.nav_Bar .contenedor_de_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  right: 0;
  height: 100%;
  list-style: none;
}
.nav_Bar .contenedor_de_nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px 17px;
  height: 100%;
  list-style: none;
}
.nav_Bar .contenedor_de_nav li a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
}
.nav_Bar .contenedor_de_nav li a:hover:not(.logo) {
  text-shadow: 0 0 100px black;
  font-weight: bold;
}
.nav_Bar .logo img {
  display: flex;
  margin-left: 15px;
  width: auto;
  height: 50px;
}

/* Sección principal */
.primer_contenido {
  width: 100%;
  height: 70vh;
  margin-top: 50px;
}
.primer_contenido .imagen_principal_fondo {
  width: 100%;
  height: 70vh;
  background: url("../img/black-red-abstract-polygon-3d-4k-45.jpg");
  background-size: cover;
  background-position: center;
}
.primer_contenido .imagen_principal_fondo .contenido_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 5%;
  gap: 5%;
  filter: drop-shadow(0 0 90px black);
  text-shadow: 0 0 20px black;
}
.primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
  width: 50%;
  padding: 0;
}
.primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
  font-weight: bolder;
  font-size: 80px;
}
.primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
  font-weight: light;
  font-size: 36px;
}
.primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
  font-size: 20px;
}
.primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
  width: 50%;
}

/* Fin del header*/
/* Productos nuevos */
/* Tarjetas */
.novedades {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px 0;
  gap: 50px;
  flex-wrap: wrap;
}
.novedades .tarjeta_1 {
  background: url("../img/card_images/intel.jpg");
}
.novedades .tarjeta_2 {
  background: url("../img/card_images/nvidia.jpg");
}
.novedades .tarjeta_3 {
  background: url("../img/card_images/Acer_Nitro_5_lead.jpg");
}
.novedades .contenido_tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  min-height: 400px;
  clip-path: polygon(0 0, 0 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0);
}
.novedades .contenido_tarjeta .tarjeta {
  width: 100%;
  height: 100%;
  background-color: rgb(138, 21, 21);
  padding: 30px;
  padding-top: 20px;
  clip-path: polygon(0 0, 0 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0);
  transform: translate(0, 80%);
  transition-duration: 0.3s;
  filter: drop-shadow(0 0 10px 10px black);
}
.novedades .contenido_tarjeta .tarjeta h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.novedades .contenido_tarjeta .tarjeta p {
  padding-top: 7%;
}
.novedades .contenido_tarjeta .tarjeta:hover {
  transform: translate(0, 20%);
  transition-duration: 0.3s;
  background-color: rgba(255, 0, 0, 0.699);
}

/* Fin tarjetas */
/* Segundo articulo */
.articulo_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 80px 0;
  position: relative;
  gap: 0 50px;
  background-color: black;
}
.articulo_principal img {
  display: flex;
  width: 300px;
  margin-bottom: 0;
}
.articulo_principal article {
  position: relative;
  width: 500px;
  height: auto;
}
.articulo_principal article h2 {
  margin: 20px 7px;
}
.articulo_principal article p {
  margin: 7px;
}

/* Redes sociales */
.redes_sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 70px;
  text-align: center;
}
.redes_sociales article img {
  width: 200px;
  margin: 0;
}
.redes_sociales article a.subscribete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 40px;
  background-color: red;
  margin-bottom: 10px;
  text-align: center;
  clip-path: polygon(0 0, 0 80%, 5% 100%, 100% 100%, 100% 25%, 95% 0);
  transition-duration: 0.3s;
}
.redes_sociales article a.subscribete:hover {
  scale: 1.1;
  font-weight: bolder;
  transition-duration: 0.3s;
}
.redes_sociales article ul li {
  display: inline-block;
  margin: 0 10px;
}
.redes_sociales article ul li a img {
  width: 30px;
}
.redes_sociales .numero_telefonico {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

/* ------- Fin del Index ------- */
/* Pagina "Modelos" */
.titulo_modelos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 15vh;
  font-size: 64px;
  background-color: rgba(255, 0, 0, 0.425);
}
.titulo_modelos span {
  text-align: center;
}

.modelos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  margin: 80px 0;
  gap: 50px;
}

.imagen_principal_modelo {
  background: url(https://www.cnet.com/a/img/resize/8b4fabbc630942152fcff6e299f97e7197d70569/hub/2020/01/28/5284e5a2-1519-4d09-a07e-d50b317c954e/01-acer-nitro-5-an517-51-56yw.jpg?auto=webp&fit=crop&height=675&width=1200);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  margin-top: 50px;
}

/* Pagina "Especificaciones" */
.bg_especificaciones {
  background: url("../img/acer-predator-abstract-uhdpaper.com-4K-33.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.caracteristica_principales {
  display: grid;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 20px;
  width: 50%;
  height: 80vh;
  background-color: rgb(22, 22, 22);
  background: radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
  background: -webkit-radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
  background: -moz-radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "imagen contenedor contenedor";
  overflow: hidden;
}
.caracteristica_principales .imagen_caracteristica_principales {
  background: url(https://i.pinimg.com/564x/01/7b/97/017b97779f7e8ede3b8da9c8ec9e28ac.jpg);
  box-shadow: inset 0px 0px 10px 0px black;
}
.caracteristica_principales .imagen_caracteristica_principales span {
  display: none;
}
.caracteristica_principales img {
  width: 95%;
  height: 95%;
  grid-area: imagen;
}
.caracteristica_principales .especificaciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  grid-area: contenedor;
}
.caracteristica_principales .especificaciones .caja_de_espec {
  transition-duration: 0.2s;
}
.caracteristica_principales .especificaciones .caja_de_espec:hover {
  scale: 1.2;
  transition-duration: 0.2s;
  filter: drop-shadow(0 1px 15px rgb(43, 43, 43));
}

.filtro_de_imagen {
  width: 200px;
  filter: brightness(500%);
  filter: contrast(200%);
  filter: drop-shadow(0 1px 2px black);
}

/* Pagina "Subscribete" */
.bg_subscribete {
  background: url("../img/colorful-dark-abstract-polygon-3d-4k-39.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.formulario {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 5%;
}
.formulario article {
  position: absolute;
  margin-top: 50px;
  width: 100%;
}
.formulario article h1 {
  font-size: 40px;
  margin: 20px 0;
}
.formulario article p {
  width: 45%;
  margin: 10px 0;
}
.formulario article form {
  margin-top: 40px;
  width: 100%;
}
.formulario article form .form_item {
  display: flow-root;
  width: 500px;
  height: 30px;
  margin: 10px 0;
}
.formulario article form .form_submit_buttom {
  display: flow-root;
  width: 200px;
  height: 30px;
  margin: 40px 0;
}

/* Exclusivo para el fondo de la pagina "Subscribete" */
.main_subscribete {
  display: inline-block;
}

.fondo_formulario {
  position: absolute;
  background-color: rgba(117, 0, 0, 0.506);
  width: 60vw;
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 80% 0);
}

/* Pagina nosotros */
.quienes_somos {
  background: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
  width: 100%;
  height: 93vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  overflow: hidden;
  position: absolute;
}
.quienes_somos .contenedor_de_nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  backdrop-filter: blur(15px);
  padding-right: 5%;
  gap: 250px;
  filter: drop-shadow(0 0 400px black);
}
.quienes_somos .contenedor_de_nosotros .imagen_presentacion {
  background: url(https://upload.wikimedia.org/wikipedia/commons/4/47/Acer_Building_in_Oriental_Science_Park_right-front.jpg);
  position: absolute;
  width: 50%;
  height: 95vh;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px 10px black;
  clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 90% 100%, 100% 0);
}

/* Footer de las paginas */
footer, footer .footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  counter-reset: none;
  background-color: rgba(0, 0, 0, 0.795);
  grid-area: footer;
}
footer .footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  height: 150px;
  color: white;
}
footer .footer_nav .contenedor_de_footer_nav {
  position: absolute;
  left: 0;
  height: 80%;
  color: white;
}
footer .footer_nav .contenedor_de_footer_nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: start;
  list-style: none;
  margin: 0 10px;
}
footer .footer_nav .contenedor_de_footer_nav li a {
  text-decoration: none;
  color: white;
}
footer .footer_nav .Otras_referencias_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 0;
  height: 80%;
  right: 0;
}
footer .footer_nav .Otras_referencias_footer ul {
  z-index: 100;
}
footer .footer_nav .Otras_referencias_footer ul li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}
footer .footer_nav .Otras_referencias_footer ul li a img {
  width: 30px;
}

/* Media Queries */
@media (min-width: 701px) and (max-width: 768px) {
  .nav_Bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_check {
    z-index: 10000;
  }
  #menu_check:checked ~ .contenedor_de_nav {
    background-color: rgba(141, 26, 26, 0.5);
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    justify-content: start;
  }
  .nav_Bar .contenedor_de_nav {
    display: none;
  }
  .nav_Bar .logo img {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(55%, 50%);
    margin-left: 0;
  }
  /* Sección principal */
  .primer_contenido {
    margin-top: 10%;
    padding: 0;
    margin-bottom: 10%;
  }
  .primer_contenido .imagen_principal_fondo {
    background-repeat: no-repeat;
    height: 80vh;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header {
    display: grid;
    grid-template-areas: "imagen" "texto";
    padding: 0 5%;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
    width: 100%;
    height: auto;
    padding: 20px;
    grid-area: imagen;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
    width: 100%;
    height: auto;
    grid-area: texto;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
    font-size: 45px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
    font-size: 20px;
  }
  .articulo_principal {
    flex-direction: column;
  }
  .articulo_principal article {
    width: 90%;
  }
  .articulo_principal article h2 {
    text-align: center;
  }
  .quienes_somos {
    overflow: hidden;
  }
  .quienes_somos .contenedor_de_nosotros {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .quienes_somos .contenedor_de_nosotros .imagen_presentacion {
    width: 85%;
    height: 30vh;
    margin-top: 70px;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
  }
  .novedades .contenido_tarjeta .tarjeta {
    transform: translate(0, 20%);
    background-color: rgba(255, 0, 0, 0.699);
  }
  .redes_sociales article a.subscribete:hover {
    scale: 1;
    font-weight: normal;
  }
  .bg_especificaciones {
    width: 100%;
    height: 220vh;
    background-size: cover;
    background-position: center;
  }
  .caracteristica_principales {
    width: 80%;
    height: 200vh;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "imagen" "contenedor";
    overflow: hidden;
    transform: translate(50%, 50%);
  }
  .caracteristica_principales .imagen_caracteristica_principales {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .caracteristica_principales .imagen_caracteristica_principales span {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .caracteristica_principales .especificaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    grid-area: contenedor;
  }
  .caracteristica_principales .especificaciones .caja_de_espec:hover {
    scale: 1;
    filter: none;
  }
  .titulo_modelos {
    top: 10%;
    height: 15vh;
  }
  .modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 50px;
  }
  .formulario {
    left: 0%;
  }
  .formulario article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    padding: 0px;
  }
  .formulario article h1 {
    font-size: 40px;
    margin: 0;
  }
  .formulario article p {
    width: 70%;
    margin: 15px 0;
  }
  .formulario article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
  .formulario article form .form_item {
    width: 70%;
    height: 40px;
    margin: 10px 0;
  }
  .formulario article form .form_submit_buttom {
    width: 300px;
    height: 40px;
  }
  .fondo_formulario {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(117, 0, 0, 0.7333333333);
    width: 80%;
    height: 80%;
    clip-path: none;
  }
}
@media (min-width: 611px) and (max-width: 700px) {
  .nav_Bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_check {
    z-index: 10000;
  }
  #menu_check:checked ~ .contenedor_de_nav {
    background-color: rgba(141, 26, 26, 0.5);
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    justify-content: start;
  }
  .nav_Bar .contenedor_de_nav {
    display: none;
  }
  .nav_Bar .logo img {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(55%, 50%);
    margin-left: 0;
  }
  .primer_contenido {
    margin-top: 10%;
    padding: 0;
    margin-bottom: 30px;
  }
  .primer_contenido .imagen_principal_fondo {
    background-repeat: no-repeat;
    height: 80vh;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header {
    display: grid;
    grid-template-areas: "imagen" "texto";
    padding: 0 5%;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
    width: 100%;
    height: auto;
    padding: 20px;
    grid-area: imagen;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
    width: 100%;
    height: auto;
    grid-area: texto;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
    font-size: 45px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
    font-size: 20px;
  }
  .articulo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .quienes_somos {
    overflow: hidden;
  }
  .quienes_somos .contenedor_de_nosotros {
    display: flex;
    flex-direction: column;
    height: 94vh;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: small;
    text-align: center;
  }
  .quienes_somos .contenedor_de_nosotros .imagen_presentacion {
    position: absolute;
    width: 85%;
    height: 40vh;
    margin-top: 70px;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
  }
  .novedades .contenido_tarjeta .tarjeta {
    transform: translate(0, 20%);
    background-color: rgba(255, 0, 0, 0.699);
  }
  .redes_sociales article a.subscribete:hover {
    scale: 1;
    font-weight: normal;
  }
  .bg_especificaciones {
    width: 100%;
    height: 220vh;
    background-size: cover;
    background-position: center;
  }
  .caracteristica_principales {
    width: 80%;
    height: 200vh;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "imagen" "contenedor";
    overflow: hidden;
    transform: translate(50%, 50%);
  }
  .caracteristica_principales .imagen_caracteristica_principales {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .caracteristica_principales .imagen_caracteristica_principales span {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .caracteristica_principales .especificaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    grid-area: contenedor;
  }
  .caracteristica_principales .especificaciones .caja_de_espec:hover {
    scale: 1;
    filter: none;
  }
  .titulo_modelos {
    top: 10%;
    height: 15vh;
  }
  .modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 50px;
  }
  .formulario {
    left: 0%;
  }
  .formulario article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    padding: 0px;
  }
  .formulario article h1 {
    font-size: 40px;
    margin: 0;
  }
  .formulario article p {
    width: 70%;
    margin: 15px 0;
  }
  .formulario article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
  .formulario article form .form_item {
    width: 70%;
    height: 40px;
    margin: 10px 0;
  }
  .formulario article form .form_submit_buttom {
    width: 300px;
    height: 40px;
  }
  .fondo_formulario {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(117, 0, 0, 0.7333333333);
    width: 80%;
    height: 80%;
    clip-path: none;
  }
}
@media (min-width: 500px) and (max-width: 610px) {
  .nav_Bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_check {
    z-index: 10000;
  }
  #menu_check:checked ~ .contenedor_de_nav {
    background-color: rgba(141, 26, 26, 0.5);
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    justify-content: start;
  }
  .nav_Bar .contenedor_de_nav {
    display: none;
  }
  .nav_Bar .logo img {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(55%, 50%);
    margin-left: 0;
  }
  .primer_contenido {
    margin-top: 10%;
    padding: 0;
    margin-bottom: 30px;
  }
  .primer_contenido .imagen_principal_fondo {
    background-repeat: no-repeat;
    height: 75vh;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header {
    display: grid;
    grid-template-areas: "imagen" "texto";
    padding: 0 5%;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
    width: 100%;
    height: auto;
    padding: 20px;
    grid-area: imagen;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
    width: 100%;
    height: auto;
    grid-area: texto;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
    font-size: 45px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
    font-size: 20px;
  }
  .articulo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .quienes_somos {
    overflow: hidden;
  }
  .quienes_somos .contenedor_de_nosotros {
    display: flex;
    flex-direction: column;
    height: 94vh;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: small;
    text-align: center;
  }
  .quienes_somos .contenedor_de_nosotros .imagen_presentacion {
    position: absolute;
    width: 85%;
    height: 35vh;
    margin-top: 70px;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
  }
  .novedades .contenido_tarjeta .tarjeta {
    transform: translate(0, 20%);
    background-color: rgba(255, 0, 0, 0.699);
  }
  .redes_sociales article a.subscribete:hover {
    scale: 1;
    font-weight: normal;
  }
  .bg_especificaciones {
    width: 100%;
    height: 220vh;
    background-size: cover;
    background-position: center;
  }
  .caracteristica_principales {
    width: 80%;
    height: 200vh;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "imagen" "contenedor";
    overflow: hidden;
    transform: translate(50%, 50%);
  }
  .caracteristica_principales .imagen_caracteristica_principales {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .caracteristica_principales .imagen_caracteristica_principales span {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .caracteristica_principales .especificaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    grid-area: contenedor;
  }
  .caracteristica_principales .especificaciones .caja_de_espec:hover {
    scale: 1;
    filter: none;
  }
  .titulo_modelos {
    top: 10%;
    height: 15vh;
  }
  .modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 50px;
  }
  .formulario {
    left: 0%;
  }
  .formulario article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    padding: 0px;
  }
  .formulario article h1 {
    font-size: 40px;
    margin: 0;
  }
  .formulario article p {
    width: 70%;
    margin: 15px 0;
  }
  .formulario article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
  .formulario article form .form_item {
    width: 70%;
    height: 40px;
    margin: 10px 0;
  }
  .formulario article form .form_submit_buttom {
    width: 300px;
    height: 40px;
  }
  .fondo_formulario {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(117, 0, 0, 0.7333333333);
    width: 80%;
    height: 80%;
    clip-path: none;
  }
}
@media (min-width: 430px) and (max-width: 499px) {
  .nav_Bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_check {
    z-index: 10000;
  }
  #menu_check:checked ~ .contenedor_de_nav {
    background-color: rgba(141, 26, 26, 0.5);
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    justify-content: start;
  }
  .nav_Bar .contenedor_de_nav {
    display: none;
  }
  .nav_Bar .logo img {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(55%, 50%);
    margin-left: 0;
  }
  .primer_contenido {
    margin-top: 10%;
    padding: 0;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo {
    background-repeat: no-repeat;
    height: 70vh;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header {
    display: grid;
    grid-template-areas: "imagen" "texto";
    padding: 0 5%;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
    width: 100%;
    height: auto;
    padding: 20px;
    grid-area: imagen;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
    width: 100%;
    height: auto;
    grid-area: texto;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
    font-size: 45px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
    font-size: 20px;
  }
  .articulo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .articulo_principal article {
    position: relative;
    width: 400px;
  }
  .articulo_principal article h2 {
    margin-bottom: 20px;
  }
  .articulo_principal article p {
    margin: 7px;
  }
  .quienes_somos {
    overflow: hidden;
  }
  .quienes_somos .contenedor_de_nosotros {
    display: flex;
    flex-direction: column;
    height: 94vh;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: small;
    text-align: center;
  }
  .quienes_somos .contenedor_de_nosotros .imagen_presentacion {
    position: absolute;
    width: 85%;
    height: 30vh;
    margin-top: 70px;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
  }
  .novedades .contenido_tarjeta .tarjeta {
    transform: translate(0, 20%);
    background-color: rgba(255, 0, 0, 0.699);
  }
  .redes_sociales article a.subscribete:hover {
    scale: 1;
    font-weight: normal;
  }
  .bg_especificaciones {
    width: 100%;
    height: 220vh;
    background-size: cover;
    background-position: center;
  }
  .caracteristica_principales {
    width: 80%;
    height: 200vh;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "imagen" "contenedor";
    overflow: hidden;
    transform: translate(50%, 50%);
  }
  .caracteristica_principales .imagen_caracteristica_principales {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .caracteristica_principales .imagen_caracteristica_principales span {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .caracteristica_principales .especificaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    grid-area: contenedor;
  }
  .caracteristica_principales .especificaciones .caja_de_espec:hover {
    scale: 1;
    filter: none;
  }
  .titulo_modelos {
    top: 10%;
    height: 15vh;
  }
  .modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 50px;
  }
  .formulario {
    left: 0%;
  }
  .formulario article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    padding: 0px;
  }
  .formulario article h1 {
    font-size: 40px;
    margin: 0;
  }
  .formulario article p {
    width: 70%;
    margin: 15px 0;
  }
  .formulario article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
  .formulario article form .form_item {
    width: 70%;
    height: 40px;
    margin: 10px 0;
  }
  .formulario article form .form_submit_buttom {
    width: 300px;
    height: 40px;
  }
  .fondo_formulario {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(117, 0, 0, 0.7333333333);
    width: 80%;
    height: 80%;
    clip-path: none;
  }
  .contenedor_de_footer_nav {
    position: relative;
    width: 50%;
  }
  .Otras_referencias_footer {
    position: relative;
    width: 50%;
  }
}
@media (min-width: 350px) and (max-width: 429px) {
  .nav_Bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_check {
    z-index: 10000;
  }
  #menu_check:checked ~ .contenedor_de_nav {
    background-color: rgba(141, 26, 26, 0.5);
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    justify-content: start;
  }
  .nav_Bar .contenedor_de_nav {
    display: none;
  }
  .nav_Bar .logo img {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(55%, 50%);
    margin-left: 0;
  }
  .primer_contenido {
    margin-top: 10%;
    padding: 0;
  }
  .primer_contenido .imagen_principal_fondo {
    background-repeat: no-repeat;
    height: 65vh;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header {
    display: grid;
    grid-template-areas: "imagen" "texto";
    padding: 0 5%;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
    width: 100%;
    height: auto;
    padding: 20px;
    grid-area: imagen;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
    width: 100%;
    height: auto;
    grid-area: texto;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
    font-size: 45px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
    font-size: 20px;
  }
  .articulo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .articulo_principal article {
    position: relative;
    width: 300px;
  }
  .articulo_principal article h2 {
    margin-bottom: 20px;
  }
  .articulo_principal article p {
    margin: 7px;
  }
  .quienes_somos {
    overflow: hidden;
  }
  .quienes_somos .contenedor_de_nosotros {
    display: flex;
    flex-direction: column;
    height: 94vh;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: small;
    text-align: center;
  }
  .quienes_somos .contenedor_de_nosotros .imagen_presentacion {
    position: absolute;
    width: 85%;
    height: 20vh;
    margin-top: 70px;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
  }
  .novedades .contenido_tarjeta .tarjeta {
    transform: translate(0, 20%);
    background-color: rgba(255, 0, 0, 0.699);
  }
  .redes_sociales article a.subscribete:hover {
    scale: 1;
    font-weight: normal;
  }
  .bg_especificaciones {
    width: 100%;
    height: 220vh;
    background-size: cover;
    background-position: center;
  }
  .caracteristica_principales {
    width: 80%;
    height: 200vh;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "imagen" "contenedor";
    overflow: hidden;
    transform: translate(50%, 50%);
  }
  .caracteristica_principales .imagen_caracteristica_principales {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .caracteristica_principales .imagen_caracteristica_principales span {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .caracteristica_principales .especificaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    grid-area: contenedor;
  }
  .caracteristica_principales .especificaciones .caja_de_espec:hover {
    scale: 1;
    filter: none;
  }
  .titulo_modelos {
    top: 10%;
    height: 15vh;
  }
  .modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 50px;
  }
  .formulario {
    left: 0%;
  }
  .formulario article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    padding: 0px;
  }
  .formulario article h1 {
    font-size: 40px;
    margin: 0;
  }
  .formulario article p {
    width: 70%;
    margin: 15px 0;
  }
  .formulario article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
  .formulario article form .form_item {
    width: 70%;
    height: 40px;
    margin: 10px 0;
  }
  .formulario article form .form_submit_buttom {
    width: 200px;
    height: 40px;
  }
  .fondo_formulario {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(117, 0, 0, 0.7333333333);
    width: 80%;
    height: 80%;
    clip-path: none;
  }
  .contenedor_de_footer_nav {
    position: relative;
    width: 50%;
  }
  .Otras_referencias_footer {
    position: relative;
    width: 50%;
  }
}
@media (min-width: 332px) and (max-width: 349px) {
  .nav_Bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_check {
    z-index: 10000;
  }
  #menu_check:checked ~ .contenedor_de_nav {
    background-color: rgba(141, 26, 26, 0.5);
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    justify-content: start;
  }
  .nav_Bar .contenedor_de_nav {
    display: none;
  }
  .nav_Bar .logo img {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(55%, 50%);
    margin-left: 0;
  }
  .primer_contenido {
    margin-top: 10%;
    padding: 0;
    margin-bottom: 30px;
  }
  .primer_contenido .imagen_principal_fondo {
    background-repeat: no-repeat;
    height: 65vh;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header {
    display: grid;
    grid-template-areas: "imagen" "texto";
    padding: 0 5%;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
    width: 100%;
    height: auto;
    padding: 20px;
    grid-area: imagen;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
    width: 100%;
    height: auto;
    grid-area: texto;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
    font-size: 45px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
    font-size: 20px;
  }
  .articulo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .articulo_principal article {
    position: relative;
    width: 250px;
  }
  .articulo_principal article h2 {
    margin-bottom: 20px;
  }
  .articulo_principal article p {
    margin: 7px;
  }
  .quienes_somos {
    overflow: hidden;
  }
  .quienes_somos .contenedor_de_nosotros {
    display: flex;
    flex-direction: column;
    height: 94vh;
    padding-left: 5%;
    padding-bottom: 3%;
    font-size: 12px;
    text-align: center;
  }
  .quienes_somos .contenedor_de_nosotros .imagen_presentacion {
    position: absolute;
    width: 85%;
    height: 28vh;
    margin-top: 70px;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
  }
  .novedades .contenido_tarjeta .tarjeta {
    transform: translate(0, 20%);
    background-color: rgba(255, 0, 0, 0.699);
  }
  .redes_sociales article a.subscribete:hover {
    scale: 1;
    font-weight: normal;
  }
  .bg_especificaciones {
    width: 100%;
    height: 220vh;
    background-size: cover;
    background-position: center;
  }
  .caracteristica_principales {
    width: 80%;
    height: 200vh;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "imagen" "contenedor";
    overflow: hidden;
    transform: translate(50%, 50%);
  }
  .caracteristica_principales .imagen_caracteristica_principales {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .caracteristica_principales .imagen_caracteristica_principales span {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .caracteristica_principales .especificaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    grid-area: contenedor;
  }
  .caracteristica_principales .especificaciones .caja_de_espec:hover {
    scale: 1;
    filter: none;
  }
  .titulo_modelos {
    top: 10%;
    height: 15vh;
  }
  .modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 50px;
  }
  .formulario {
    left: 0%;
  }
  .formulario article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    padding: 0px;
  }
  .formulario article h1 {
    font-size: 40px;
    margin: 0;
  }
  .formulario article p {
    width: 70%;
    margin: 15px 0;
  }
  .formulario article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
  .formulario article form .form_item {
    width: 70%;
    height: 40px;
    margin: 10px 0;
  }
  .formulario article form .form_submit_buttom {
    width: 200px;
    height: 40px;
  }
  .fondo_formulario {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(117, 0, 0, 0.7333333333);
    width: 80%;
    height: 80%;
    clip-path: none;
  }
  .contenedor_de_footer_nav {
    position: relative;
    width: 50%;
  }
  .Otras_referencias_footer {
    position: relative;
    width: 50%;
  }
}
@media (min-width: 280px) and (max-width: 331px) {
  .nav_Bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu_check {
    z-index: 10000;
  }
  #menu_check:checked ~ .contenedor_de_nav {
    background-color: rgba(141, 26, 26, 0.5);
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    justify-content: start;
  }
  .nav_Bar .contenedor_de_nav {
    display: none;
  }
  .nav_Bar .logo img {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(55%, 50%);
    margin-left: 0;
  }
  .primer_contenido {
    margin-top: 10%;
    padding: 0;
  }
  .primer_contenido .imagen_principal_fondo {
    background-repeat: no-repeat;
    height: 60vh;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header {
    display: grid;
    grid-template-areas: "imagen" "texto";
    padding: 0 5%;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .imagen_laptop {
    width: 100%;
    height: auto;
    padding: 20px;
    grid-area: imagen;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal {
    width: 100%;
    height: auto;
    grid-area: texto;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h1 {
    font-size: 35px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal h2 {
    font-size: small;
    margin-bottom: 20px;
  }
  .primer_contenido .imagen_principal_fondo .contenido_header .titulo_principal p {
    font-size: smaller;
  }
  .articulo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .articulo_principal article {
    position: relative;
    width: 200px;
    font-size: small;
  }
  .articulo_principal article h2 {
    margin-bottom: 20px;
  }
  .articulo_principal article p {
    margin: 7px;
  }
  .quienes_somos {
    overflow: hidden;
  }
  .quienes_somos .contenedor_de_nosotros {
    display: flex;
    flex-direction: column;
    height: 94vh;
    padding-left: 5%;
    padding-bottom: 3%;
    font-size: 10px;
    text-align: center;
  }
  .quienes_somos .contenedor_de_nosotros .imagen_presentacion {
    position: absolute;
    width: 85%;
    height: 35vh;
    margin-top: 70px;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
  }
  .novedades .contenido_tarjeta .tarjeta {
    transform: translate(0, 20%);
    background-color: rgba(255, 0, 0, 0.699);
  }
  .redes_sociales article a.subscribete:hover {
    scale: 1;
    font-weight: normal;
  }
  .bg_especificaciones {
    width: 100%;
    height: 220vh;
    background-size: cover;
    background-position: center;
  }
  .caracteristica_principales {
    width: 80%;
    height: 200vh;
    grid-template-columns: 100%;
    gap: 1rem;
    grid-template-areas: "imagen" "contenedor";
    overflow: hidden;
    transform: translate(50%, 50%);
  }
  .caracteristica_principales .imagen_caracteristica_principales {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .caracteristica_principales .imagen_caracteristica_principales span {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }
  .caracteristica_principales .especificaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    grid-area: contenedor;
  }
  .caracteristica_principales .especificaciones .caja_de_espec:hover {
    scale: 1;
    filter: none;
  }
  .titulo_modelos {
    top: 10%;
    height: 15vh;
  }
  .modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 50px;
  }
  .formulario {
    left: 0%;
  }
  .formulario article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    padding: 0px;
  }
  .formulario article h1 {
    font-size: 40px;
    margin: 0;
  }
  .formulario article p {
    width: 70%;
    margin: 15px 0;
  }
  .formulario article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
  .formulario article form .form_item {
    width: 70%;
    height: 40px;
    margin: 10px 0;
  }
  .formulario article form .form_submit_buttom {
    width: 150px;
    height: 40px;
  }
  .fondo_formulario {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(117, 0, 0, 0.7333333333);
    width: 80%;
    height: 80%;
    clip-path: none;
  }
  .contenedor_de_footer_nav {
    position: relative;
    width: 50%;
  }
  .Otras_referencias_footer {
    position: relative;
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
