@import "./partials/fuentes";
@import "./partials/fondos";
@import "./partials/variables";

/* Reset */
* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Espacio para pruebas */


/* Fin de espacio para pruebas */


/* ------- Index ------- */

@mixin center_element_full {
    display: flex;
    justify-content: center;
    align-items: center;   
    align-content: center; 
}

@mixin center_element_partial {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(48, 0, 0);
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);

    /* Esto permite que el footer se mantenga siempre al fondo de la página */
    position: relative;
    min-height: 100vh;
}

.index_orden{    
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

main{
    /* Esto permite que el footer se mantenga siempre al fondo de la página */
    padding-bottom: 2.5rem;
    grid-area: main;
}

header {
    grid-area: header;
}


/* Header*/


/* Para el menu mobile */
#menu_check, .nav_Bar label {
    margin-left: 20px;
    scale: 2;
    display: none;
}

/* Barra de Navegación */
.nav_Bar {
    display: flex;
    width: 100%;
    height: 50px;
    filter: drop-shadow(0 1px 3px black);
    background-color: rgb(61, 0, 0);
    list-style: none;
    
    /* estas propiedades mantienen la barra de navegación por encima de todo y que mantenga su posicion en la parte superior de la pantalla */
    position: fixed;
    top: 0;
    z-index: 10;

    /* Posición de los links en la barra de navegación */
    .contenedor_de_nav{
        @include center_element_full;
        position: fixed;
        right: 0;
        height: 100%;
        list-style: none;
        
    
        li {
            @include center_element_full;
            margin: 0px 17px;
            height: 100%;
            list-style: none;

            a {
                text-decoration: none;
                margin: 0;
                padding: 0;
                color: white;
                list-style: none;
    
                &:hover:not(.logo) {
                    text-shadow: 0 0 100px rgb(0, 0, 0);
                    font-weight: bold;
                }
            }
        }
    }

    /* Posición de logo en la barra de navegación */
    .logo {
        img {
            display: flex;
            margin-left: 15px;
            width: auto;
            height: 50px;
        }
    }
}

/* Sección principal */

.primer_contenido {
    width: 100%;
    height: 70vh;
    margin-top: 50px;

    .imagen_principal_fondo {
        width: 100%;
        height: 70vh;
        background: $fondo_header;
        background-size: cover;
        background-position: center;
        
        
        .contenido_header{
            @include center_element_partial;
            width: 100%;
            padding: 3% 5%;
            gap: 5%;
            filter: drop-shadow(0 0 90px rgb(0, 0, 0));
            text-shadow: 0 0 20px rgb(0, 0, 0);

            .titulo_principal {
                width: 50%;
                padding: 0;

                h1 {
                    font-weight: bolder;
                    font-size: 80px;
                }

                h2 {
                    font-weight: light;
                    font-size: 36px;
                }

                p {
                    font-size: 20px;
                }
            }

            .imagen_laptop {
                width: 50%;
            }
        }
    }
} /* Fin del header*/

/* Productos nuevos */

/* Tarjetas */

.novedades{
    @each $fondo in $fondo_tarjeta {
        $i:index($fondo_tarjeta, $fondo);
        .tarjeta_#{$i}{
            background:  $fondo;
        }
    }
    @include center_element_partial;
    width: 100%;
    margin: 80px 0;
    gap: 50px;
    flex-wrap: wrap;
    
    .contenido_tarjeta {
        @include center_element_partial;
        width: 300px;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        min-height: 400px;
        clip-path: polygon(0 0, 0 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0);

        .tarjeta{
            width: 100%; 
            height: 100%;
            background-color: rgb(138, 21, 21);
            padding: 30px;
            padding-top: 20px;
            clip-path: polygon(0 0, 0 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0);
            transform: translate(0, 80%);
            transition-duration:.3s;
            filter: drop-shadow(0 0 10px 10px rgb(0, 0, 0));

            h2 {
                @include center_element_partial;
                text-align: center;
            }

            p {
                padding-top: 7%;
            }     

            &:hover {
                transform: translate(0, 20%);
                transition-duration:.3s;
                background-color: rgba(255, 0, 0, 0.699);
            }
        }
    }

    
} /* Fin tarjetas */

/* Segundo articulo */
.articulo_principal {
    @include center_element_full;
    width: 100%;
    padding: 80px 0;
    position: relative;
    gap: 0 50px;
    background-color: rgb(0, 0, 0);

    img{
        display: flex;
        width: 300px;
        margin-bottom: 0;
    }

    article {
        position: relative;
        width: 500px;
        height: auto;
        
        h2 {
            margin: 20px 7px;
        }
        
        p {
            margin: 7px;
        }
    }
}

/* Redes sociales */
.redes_sociales {
    width: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 70px;
    text-align: center;

    article img {
        width: 200px;
        margin: 0;
    }

    article a.subscribete {
        @include center_element_partial;
        text-decoration: none;
        color: white;
        width: 100%;
        height: 40px;
        background-color: red;
        margin-bottom: 10px;
        text-align: center;
        clip-path: polygon(0 0, 0 80%, 5% 100%, 100% 100%, 100% 25%, 95% 0);
        transition-duration: .3s;

        &:hover {
            scale: 1.1;
            font-weight: bolder;
            transition-duration: .3s;
        }
    }

    article ul li{
        display: inline-block;
        margin: 0 10px;

        a img {
            width: 30px;
        }
    }

    .contactos{
        grid-area: contacto;

        .numero_telefonico{
            @include center_element_partial;
            text-decoration: none;
            color: white;
            text-align: center;
            margin-bottom: 10px;
        }
    }
} /* ------- Fin del Index ------- */

/* Pagina "Modelos" */

.titulo_modelos {
    @include center_element_partial;
    position: absolute;
    top: 15%;
    width: 100%;
    height: 15vh;
    font-size: 64px;
    background-color: rgba(255, 0, 0, 0.425);

    span {
        text-align: center;
    }
}

.modelos {
    @include center_element_full;
    flex-direction: row;
    width: 100%;
    margin: 80px 0;
    gap: 50px;
}

.imagen_principal_modelo {
    background: $imagen_modelos;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    margin-top: 50px;
}

/* Pagina "Especificaciones" */

.bg_especificaciones{
    background: $fondo_especificaciones;
    background-repeat: no-repeat;
    background-size: cover;
}

.caracteristica_principales {
    display: grid;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    padding: 20px;
    width: 50%;
    height: 80vh;
    background-color: rgb(22, 22, 22);
    background: radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
    background: -webkit-radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
    background: -moz-radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: "imagen contenedor contenedor";
    overflow: hidden;

    .imagen_caracteristica_principales{
        background: $imagen_especificaciones;
        box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);

        span {
            display: none;
        }
    }

    img {
        width: 95%;
        height: 95%;
        grid-area: imagen;
    }

    .especificaciones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
        grid-area: contenedor;

        .caja_de_espec {
            transition-duration: .2s;

            &:hover {
                scale: 1.2;
                transition-duration: .2s;
                filter: drop-shadow(0 1px 15px rgb(43, 43, 43));
            }
        }
    }
}

.filtro_de_imagen {
    width: 200px;
    filter: brightness(500%);
    filter: contrast(200%);
    filter: drop-shadow(0 1px 2px rgb(0, 0, 0));
}


/* Pagina "Subscribete" */


.bg_subscribete {
    background: $fondo_susbscribete;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.formulario {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 5%;

    article {
        position: absolute;
        margin-top: 50px;
        width: 100%;

        h1{
            font-size: 40px;
            margin: 20px 0;
        }

        p{
            width: 45%;
            margin: 10px 0;
        }

        form {
            margin-top: 40px;
            width:100%;

            .form_item {
                display: flow-root;
                width: 500px;
                height:30px;
                margin: 10px 0;
            }

            .form_submit_buttom {
                display: flow-root;
                width: 200px;
                height:30px;
                margin: 40px 0;
            }
        }
    }
}

/* Exclusivo para el fondo de la pagina "Subscribete" */ 

.main_subscribete{
    display: inline-block;
}

.fondo_formulario {
    position: absolute;
    background-color: #75000081;
    width: 60vw;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 80% 0);
}

/* Pagina nosotros */

.quienes_somos {
    background: $fondo_nosotros;
    width: 100%;
    height: 93vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    overflow: hidden;
    
    .contenedor_de_nosotros {
        @include center_element_partial;
        height: 95vh;
        backdrop-filter: blur(15px);
        padding-right: 5%;
        gap: 250px;
        filter: drop-shadow(0 0 400px black);
        
        .imagen_presentacion {
            background: $imagen_nosotros;
            position: absolute;
            width: 50%;
            height: 95vh;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0 0 15px 10px black;
            clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 90% 100%, 100% 0);
        }
    }
}

/* Footer de las paginas */ 

footer {
    @include center_element_partial;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
    counter-reset: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.795);
    grid-area: footer;
    bottom: 0;
}

@import "./partials/queries";