@import "./partials/fuentes";
@import "./partials/fondos";
@import "./partials/variables";
@import "./partials/colores";

/* Reset */
* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- Index ------- */


//Mixin para la forma de centrado de elementos

@mixin center_element($tipo_de_centrado:full) {

    @if $tipo_de_centrado == full {
        display: flex;
        justify-content: center;
        align-items: center;   
        align-content: center; 
    } @else if $tipo_de_centrado == parcial {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body {
    background-color: $rojo_fondo;
    font-family: 'Raleway', sans-serif;
    color: white;

    /* Esto permite que el footer se mantenga siempre al fondo de la página */
    position: relative;
    min-height: 100vh;
}

.index_orden{    
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

main{
    /* Esto permite que el footer se mantenga siempre al fondo de la página */
    padding-bottom: 5.5rem;
    grid-area: main;
}

header {
    grid-area: header;
}


/* Header*/


/* Para el menu mobile */
#menu_check, .nav_Bar label {
    margin-left: 20px;
    scale: 2;
    display: none;
}

/* Barra de Navegación */
.nav_Bar {
    display: flex;
    width: 100%;
    height: 50px;
    filter: drop-shadow(0 1px 3px black);
    background-color: $barra_nav;
    list-style: none;
    
    /* estas propiedades mantienen la barra de navegación por encima de todo y que mantenga su posicion en la parte superior de la pantalla */
    position: fixed;
    top: 0;
    z-index: 10;

    /* Posición de los links en la barra de navegación */
    .contenedor_de_nav{
        @include center_element(full);
        position: fixed;
        right: 0;
        height: 100%;
        list-style: none;
        
        
        li {
            @include center_element(full);
            margin: 0px 17px;
            height: 100%;
            list-style: none;

            a {
                text-decoration: none;
                margin: 0;
                padding: 0;
                color: white;
                list-style: none;
    
                &:hover:not(.logo) {
                    text-shadow: 0 0 100px black;
                    font-weight: bold;
                }
            }
        }
    }

    /* Posición de logo en la barra de navegación */
    .logo {
        img {
            display: flex;
            margin-left: 15px;
            width: auto;
            height: 50px;
        }
    }
}

/* Sección principal */

.primer_contenido {
    width: 100%;
    height: 70vh;
    margin-top: 50px;

    .imagen_principal_fondo {
        width: 100%;
        height: 70vh;
        background: $fondo_header;
        background-size: cover;
        background-position: center;
        
        
        .contenido_header{
            @include center_element(parcial);
            width: 100%;
            padding: 3% 5%;
            gap: 5%;
            filter: drop-shadow(0 0 90px black);
            text-shadow: 0 0 20px black;

            .titulo_principal {
                width: 50%;
                padding: 0;

                h1 {
                    font-weight: bolder;
                    font-size: 80px;
                }

                h2 {
                    font-weight: light;
                    font-size: 36px;
                }

                p {
                    font-size: 20px;
                }
            }

            .imagen_laptop {
                width: 50%;
            }
        }
    }
} /* Fin del header*/

/* Productos nuevos */

/* Tarjetas */

.novedades{
    @each $fondo in $fondo_tarjeta {
        $i:index($fondo_tarjeta, $fondo);
        .tarjeta_#{$i}{
        background:  $fondo;
        }
    }
    @include center_element(parcial);
    width: 100%;
    margin: 80px 0;
    gap: 50px;
    flex-wrap: wrap;
    filter: drop-shadow(0 0 10px black);
    
    .contenido_tarjeta {
        @include center_element(parcial);
        width: 300px;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        min-height: 400px;
        clip-path: polygon(0 0, 0 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0);

        .tarjeta{
            width: 100%; 
            height: 100%;
            background-color: $color_tarjeta;
            padding: 30px;
            padding-top: 20px;
            clip-path: polygon(0 0, 0 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0);
            transform: translate(0, 80%);
            transition-duration:.3s;
            filter: drop-shadow(0 0 10px 10px black);

            h2 {
                @include center_element(parcial);
                text-align: center;
            }

            p {
                padding-top: 7%;
            }     

            &:hover {
                @for $i from 1 through 3{
                    &:nth-child(#{$i}){
                        background-color: lighten($base_tarjeta, $i * 10%);
                    }
                }
                transform: translate(0, 20%);
                transition-duration:.3s;
                
            }
        }
    }

    
} /* Fin tarjetas */

/* Segundo articulo */
.articulo_principal {
    @include center_element(full);
    width: 100%;
    padding: 80px 0;
    position: relative;
    gap: 0 50px;
    background-color: black;

    img{
        display: flex;
        width: 300px;
        margin-bottom: 0;
    }

    article {
        position: relative;
        width: 500px;
        height: auto;
        
        h2 {
            margin: 20px 7px;
        }
        
        p {
            margin: 7px;
        }
    }
}

/* Redes sociales */
.redes_sociales {
    @include center_element(full);
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    text-align: center;

    article img {
        width: 200px;
        margin: 0;
    }

    article a.subscribete {
        @include center_element(parcial);
        text-decoration: none;
        color: white;
        width: 100%;
        height: 40px;
        background-color: red;
        margin-bottom: 10px;
        text-align: center;
        clip-path: polygon(0 0, 0 80%, 5% 100%, 100% 100%, 100% 25%, 95% 0);
        transition-duration: .3s;

        &:hover {
            scale: 1.1;
            font-weight: bolder;
            transition-duration: .3s;
        }
    }

    article ul li{
        display: inline-block;
        margin: 0 10px;

        a img {
            width: 30px;
        }
    }

    .numero_telefonico{
        @include center_element(parcial);
        text-decoration: none;
        color: white;
        text-align: center;
        margin-bottom: 10px;
    }
    
} /* ------- Fin del Index ------- */

/* Pagina "Modelos" */

.titulo_modelos {
    @include center_element(parcial);
    position: absolute;
    top: 15%;
    width: 100%;
    height: 15vh;
    font-size: 64px;
    background-color: $fondo_titulo_modelos;

    span {
        text-align: center;
    }
}

.modelos {
    @include center_element(full);
    flex-direction: row;
    width: 100%;
    margin: 80px 0;
    gap: 50px;
}

.imagen_principal_modelo {
    background: $imagen_modelos;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    margin-top: 50px;
}

/* Pagina "Especificaciones" */

.bg_especificaciones{
    background: $fondo_especificaciones;
    background-repeat: no-repeat;
    background-size: cover;
}

.caracteristica_principales {
    display: grid;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    padding: 20px;
    width: 50%;
    height: 80vh;
    background-color: rgb(22, 22, 22);
    background: $gradiente_negro;
    background: $gradiente_negro_ie;
    background: $gradiente_negro_firefox;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: "imagen contenedor contenedor";
    overflow: hidden;

    .imagen_caracteristica_principales{
        background: $imagen_especificaciones;
        box-shadow: inset 0px 0px 10px 0px black;

        span {
            display: none;
        }
    }

    img {
        width: 95%;
        height: 95%;
        grid-area: imagen;
    }

    .especificaciones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
        grid-area: contenedor;

        .caja_de_espec {
            transition-duration: .2s;

            &:hover {
                scale: 1.2;
                transition-duration: .2s;
                filter: drop-shadow(0 1px 15px $sombra_roja);
            }
        }
    }
}

.filtro_de_imagen {
    width: 200px;
    filter: brightness(500%);
    filter: contrast(200%);
    filter: drop-shadow(0 1px 2px black);
}


/* Pagina "Suscribete" */


.bg_suscribete {
    background: $fondo_suscribete;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.formulario {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 5%;

    article {
        position: absolute;
        margin-top: 50px;
        width: 100%;

        h1{
            font-size: 40px;
            margin: 20px 0;
        }

        p{
            width: 45%;
            margin: 10px 0;
        }

        form {
            margin-top: 40px;
            width:100%;

            .form_item {
                display: flow-root;
                width: 500px;
                height:30px;
                margin: 10px 0;
            }

            .form_submit_buttom {
                display: flow-root;
                width: $tamaño_boton_sumbit;
                height:30px;
                margin: 40px 0;
            }
        }
    }
}

/* Exclusivo para el fondo de la pagina "Subscribete" */ 

.main_suscribete{
    display: inline-block;
}

.fondo_formulario {
    position: absolute;
    background-color: $fondo_formulario;
    width: 60vw;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 80% 0);
}

/* Pagina nosotros */

.quienes_somos {
    background: $fondo_nosotros;
    width: 100%;
    height: 93vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    overflow: hidden;
    position: absolute;
    
    .contenedor_de_nosotros {
        @include center_element(parcial);
        height: 95vh;
        backdrop-filter: blur(15px);
        padding-right: 5%;
        gap: 250px;
        filter: drop-shadow(0 0 400px black);
        
        .imagen_presentacion {
            background: $imagen_nosotros;
            position: absolute;
            width: 50%;
            height: 95vh;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0 0 15px 10px black;
            clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 90% 100%, 100% 0);
        }
    }
}

/* Footer de las paginas */ 

footer {
    @include center_element(parcial);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
    counter-reset: none;
    background-color: $negro_transparente;
    grid-area: footer;


    //Footer especial del index
    .footer_nav{
        @extend footer;
        @include center_element(parcial);
        padding-top: 20px;
        width: 100%;
        height: 150px;
        color: white;
        
        .contenedor_de_footer_nav{
            position: absolute;
            left: 0;
            height: 80%;
            color: white;
            li {
                @include center_element(full);
                justify-content: start;
                list-style: none;
                
                margin: 0 10px;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            
        }

        .Otras_referencias_footer {
            @include center_element(full);
            position: absolute;
            right: 0;
            height: 80%;
            right: 0;
            ul {
                z-index: 100;
                li {
                    display: inline-block;
                    margin: 0 10px;
                    list-style: none;
                    a {
                        img {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

@import "./partials/queries";