$rojo_fondo:rgb(48, 0, 0);
$barra_nav:rgb(61, 0, 0);
$color_tarjeta:rgb(138, 21, 21);
$hover_tarjeta:rgba(255, 0, 0, 0.699);
$fondo_titulo_modelos:rgba(255, 0, 0, 0.425);
$gradiente_negro:radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
$gradiente_negro_ie:-webkit-radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
$gradiente_negro_firefox:-moz-radial-gradient(circle farthest-corner at top right, rgb(37, 37, 37) 0%, rgb(22, 22, 22) 80%);
$sombra_roja:rgb(43, 43, 43);
$fondo_formulario:rgba(117, 0, 0, 0.506);
$negro_transparente:rgba(0, 0, 0, 0.795);