/* Media Queries */

@media (min-width:701px) and (max-width:768px){

    /* Barra de navegación */

    .nav_Bar label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_check {
        z-index: 10000;

        &:checked~.contenedor_de_nav{
            background-color: rgba(141, 26, 26, 0.5);
            position: absolute;
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 50px;
            justify-content: start;
        }
    }
    
    .nav_Bar .contenedor_de_nav {
        display: none;
    }
    
    .nav_Bar .logo img {
        position: fixed;
        right: 50%;
        bottom: 50%;
        transform: translate(55%,50%);
        margin-left: 0;
    }

    /* Index */

    .primer_contenido {
        margin-top: 10%;
        padding: 0;
        margin-bottom: 10%;
        
        .imagen_principal_fondo {
            background-repeat: no-repeat;
            height: 80vh;
             
            .contenido_header {
                display: grid;
                grid-template-areas: 
                "imagen"
                "texto"
                ;
                padding: 0 5%;

                .imagen_laptop {
                    width: 100%;
                    height: auto;
                    padding: 20px;
                    grid-area: imagen;
                }

                .titulo_principal {
                    width: 100%;
                    height: auto;
                    grid-area: texto;

                    h1 {
                        font-size: 45px;
                    }

                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .articulo_principal {
        flex-direction: column;

        article {
            width: 90%;

            h2 {
                text-align: center;
            }
        }
    }

    .novedades .contenido_tarjeta .tarjeta{
        transform: translate(0, 20%);
        background-color: rgba(255, 0, 0, 0.699);
    }

    .redes_sociales article a.subscribete:hover {
        scale: 1;
        font-weight: normal;
    }

    /* Nosotros */
    .quienes_somos {
        overflow: hidden;
        
        
        .contenedor_de_nosotros {
            display: flex;
            flex-direction: column;
            padding: 5%;
            
            
            .imagen_presentacion {
                width: 85%;
                height: 30vh;
                margin-top: 70px;
                clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
            }
        }
    }

    /* Especificaciones */
    .bg_especificaciones{
        width: 100%;
        height: 220vh;
        background-size: cover;
        background-position: center;
    }

    .caracteristica_principales {
        width: 80%;
        height: 200vh;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-areas: 
        "imagen"
        "contenedor";
        overflow: hidden;
        transform: translate(50%, 50%);

        .imagen_caracteristica_principales {
            width: 100%;
            height: 100%;
            font-size: 24px;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
            }
        }

        .especificaciones {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            grid-area: contenedor;

            .caja_de_espec:hover {
                scale: 1;
                filter: none;
            }
        }
    }

    .titulo_modelos {
        top: 10%;
        height: 15vh;
    }

    /* Modelos */
    .modelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        gap: 50px;
    }

    /* Suscribete */
    .formulario {
        left: 0%;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            padding: 0px;
    
            h1{
                font-size: 40px;
                margin:  0;
            }
    
            p{
                width: 70%;
                margin: 15px 0;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin-top: 40px;
    
                .form_item {
                    width: 70%;
                    height: 40px;
                    margin: 10px 0;
                }
    
                .form_submit_buttom {
                    width: $tamaño_boton_sumbit;
                    height: 40px;
                }
            }
        }
    }

    .fondo_formulario {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        background-color: #750000bb;
        width: 80%;
        height: 80%;
        clip-path: none;
    }

    /* Footer */
    footer p{
        font-size: smaller;
        text-align: center;
    }
}

@media (min-width:611px) and (max-width:700px){

    /* Barra de navegación */
    .nav_Bar label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_check {
        z-index: 10000;

        &:checked~.contenedor_de_nav{
            background-color: rgba(141, 26, 26, 0.5);
            position: absolute;
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 50px;
            justify-content: start;
        }
    }
    
    .nav_Bar .contenedor_de_nav {
        display: none;
    }
    
    .nav_Bar .logo img {
        position: fixed;
        right: 50%;
        bottom: 50%;
        transform: translate(55%,50%);
        margin-left: 0;
    }

    /* Index */
    .primer_contenido {
        margin-top: 10%;
        padding: 0;
        margin-bottom: 30px;
        
        .imagen_principal_fondo {
            background-repeat: no-repeat;
            height: 80vh;
             
            .contenido_header {
                display: grid;
                grid-template-areas: 
                "imagen"
                "texto"
                ;
                padding: 0 5%;

                .imagen_laptop {
                    width: 100%;
                    height: auto;
                    padding: 20px;
                    grid-area: imagen;
                }

                .titulo_principal {
                    width: 100%;
                    height: auto;
                    grid-area: texto;

                    h1 {
                        font-size: 45px;
                    }

                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .articulo_principal {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .novedades .contenido_tarjeta .tarjeta{
        transform: translate(0, 20%);
        background-color: rgba(255, 0, 0, 0.699);
    }

    .redes_sociales article a.subscribete:hover {
        scale: 1;
        font-weight: normal;
    }

    /* Nosotros */
    .quienes_somos {
        overflow: hidden;
        
        .contenedor_de_nosotros {
            display: flex;
            flex-direction: column;
            height: 94vh;
            padding-left: 5%;
            padding-bottom: 5%;
            font-size: small;
            text-align: center;
            
            .imagen_presentacion {
                position: absolute;
                width: 85%;
                height: 40vh;
                margin-top: 70px;
                clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
            }
        }
    }

    /* Especificaciones */
    .bg_especificaciones{
        width: 100%;
        height: 220vh;
        background-size: cover;
        background-position: center;
    }

    .caracteristica_principales {
        width: 80%;
        height: 200vh;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-areas: 
        "imagen"
        "contenedor";
        overflow: hidden;
        transform: translate(50%, 50%);

        .imagen_caracteristica_principales {
            width: 100%;
            height: 100%;
            font-size: 24px;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
            }
        }

        .especificaciones {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            grid-area: contenedor;

            .caja_de_espec:hover {
                scale: 1;
                filter: none;
            }
        }
    }

    /* Modelos */
    .titulo_modelos {
        top: 10%;
        height: 15vh;
    }

    .modelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        gap: 50px;
    }

    /* Suscribete */
    .formulario {
        left: 0%;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            padding: 0px;
    
            h1{
                font-size: 40px;
                margin:  0;
            }
    
            p{
                width: 70%;
                margin: 15px 0;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin-top: 40px;
    
                .form_item {
                    width: 70%;
                    height: 40px;
                    margin: 10px 0;
                }
    
                .form_submit_buttom {
                    width: $tamaño_boton_sumbit;
                    height: 40px;
                }
            }
        }
    }

    .fondo_formulario {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        background-color: #750000bb;
        width: 80%;
        height: 80%;
        clip-path: none;
    }

    /* Footer */
    footer p{
        font-size: smaller;
        text-align: center;
    }
}

@media (min-width:500px) and (max-width:610px){

    /* Barra de navegación */
    .nav_Bar label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_check {
        z-index: 10000;

        &:checked~.contenedor_de_nav{
            background-color: rgba(141, 26, 26, 0.5);
            position: absolute;
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 50px;
            justify-content: start;
        }
    }
    
    .nav_Bar .contenedor_de_nav {
        display: none;
    }
    
    .nav_Bar .logo img {
        position: fixed;
        right: 50%;
        bottom: 50%;
        transform: translate(55%,50%);
        margin-left: 0;
    }

    /* Index */
    .primer_contenido {
        margin-top: 10%;
        padding: 0;
        margin-bottom: 30px;
        
        .imagen_principal_fondo {
            background-repeat: no-repeat;
            height: 75vh;
             
            .contenido_header {
                display: grid;
                grid-template-areas: 
                "imagen"
                "texto"
                ;
                padding: 0 5%;

                .imagen_laptop {
                    width: 100%;
                    height: auto;
                    padding: 20px;
                    grid-area: imagen;
                }

                .titulo_principal {
                    width: 100%;
                    height: auto;
                    grid-area: texto;

                    h1 {
                        font-size: 45px;
                    }

                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .articulo_principal {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .novedades .contenido_tarjeta .tarjeta{
        transform: translate(0, 20%);
        background-color: rgba(255, 0, 0, 0.699);
    }

    .redes_sociales article a.subscribete:hover {
        scale: 1;
        font-weight: normal;
    }    
    /* Nosotros */
    .quienes_somos {
        overflow: hidden;
        
        .contenedor_de_nosotros {
            display: flex;
            flex-direction: column;
            height: 94vh;
            padding-left: 5%;
            padding-bottom: 5%;
            font-size: small;
            text-align: center;
            
            .imagen_presentacion {
                position: absolute;
                width: 85%;
                height: 35vh;
                margin-top: 70px;
                clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
            }
        }
    }

    /* Especificaciones */
    .bg_especificaciones{
        width: 100%;
        height: 220vh;
        background-size: cover;
        background-position: center;
    }

    .caracteristica_principales {
        width: 80%;
        height: 200vh;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-areas: 
        "imagen"
        "contenedor";
        overflow: hidden;
        transform: translate(50%, 50%);

        .imagen_caracteristica_principales {
            width: 100%;
            height: 100%;
            font-size: 24px;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
            }
        }

        .especificaciones {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            grid-area: contenedor;

            .caja_de_espec:hover {
                scale: 1;
                filter: none;
            }
        }
    }

    /* Modelos */
    .titulo_modelos {
        top: 10%;
        height: 15vh;
    }

    .modelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        gap: 50px;
    }

    /* Suscribete */
    .formulario {
        left: 0%;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            padding: 0px;
    
            h1{
                font-size: 40px;
                margin:  0;
            }
    
            p{
                width: 70%;
                margin: 15px 0;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin-top: 40px;
    
                .form_item {
                    width: 70%;
                    height: 40px;
                    margin: 10px 0;
                }
    
                .form_submit_buttom {
                    width: $tamaño_boton_sumbit;
                    height: 40px;
                }
            }
        }
    }

    .fondo_formulario {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        background-color: #750000bb;
        width: 80%;
        height: 80%;
        clip-path: none;
    }

    /* Footer */
    footer p{
        font-size: smaller;
        text-align: center;
    }
}

@media (min-width:430px) and (max-width:499px) {

    /* Barra de navegación */
    .nav_Bar label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_check {
        z-index: 10000;

        &:checked~.contenedor_de_nav{
            background-color: rgba(141, 26, 26, 0.5);
            position: absolute;
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 50px;
            justify-content: start;
        }
    }
    
    .nav_Bar .contenedor_de_nav {
        display: none;
    }
    
    .nav_Bar .logo img {
        position: fixed;
        right: 50%;
        bottom: 50%;
        transform: translate(55%,50%);
        margin-left: 0;
    }
    /* Index */
    .primer_contenido {
        margin-top: 10%;
        padding: 0;
        margin-bottom: 20px;
        
        .imagen_principal_fondo {
            background-repeat: no-repeat;
            height: 70vh;
             
            .contenido_header {
                display: grid;
                grid-template-areas: 
                "imagen"
                "texto"
                ;
                padding: 0 5%;

                .imagen_laptop {
                    width: 100%;
                    height: auto;
                    padding: 20px;
                    grid-area: imagen;
                }

                .titulo_principal {
                    width: 100%;
                    height: auto;
                    grid-area: texto;

                    h1 {
                        font-size: 45px;
                    }

                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .articulo_principal {
        display: flex;
        flex-direction: column;
        text-align: center;

        article {
            position: relative;
            width: 400px;
            
            h2 {
                margin-bottom: 20px;
            }
            
            p {
                margin: 7px;
                
            }
        }
    }

    .novedades .contenido_tarjeta .tarjeta{
        transform: translate(0, 20%);
        background-color: rgba(255, 0, 0, 0.699);
    }

    .redes_sociales article a.subscribete:hover {
        scale: 1;
        font-weight: normal;
    }
    /* Nosotros */
    .quienes_somos {
        overflow: hidden;
        
        .contenedor_de_nosotros {
            display: flex;
            flex-direction: column;
            height: 94vh;
            padding-left: 5%;
            padding-bottom: 5%;
            font-size: small;
            text-align: center;
            
            .imagen_presentacion {
                position: absolute;
                width: 85%;
                height: 30vh;
                margin-top: 70px;
                clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
            }
        }
    }
    /* Especificaciones */
    .bg_especificaciones{
        width: 100%;
        height: 220vh;
        background-size: cover;
        background-position: center;
    }

    .caracteristica_principales {
        width: 80%;
        height: 200vh;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-areas: 
        "imagen"
        "contenedor";
        overflow: hidden;
        transform: translate(50%, 50%);

        .imagen_caracteristica_principales {
            width: 100%;
            height: 100%;
            font-size: 24px;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
            }
        }

        .especificaciones {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            grid-area: contenedor;

            .caja_de_espec:hover {
                scale: 1;
                filter: none;
            }
        }
    }
    /* Modelos */
    .titulo_modelos {
        top: 10%;
        height: 15vh;
    }

    .modelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        gap: 50px;
    }
    /* Suscribete */
    .formulario {
        left: 0%;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            padding: 0px;
    
            h1{
                font-size: 40px;
                margin:  0;
            }
    
            p{
                width: 70%;
                margin: 15px 0;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin-top: 40px;
    
                .form_item {
                    width: 70%;
                    height: 40px;
                    margin: 10px 0;
                }
    
                .form_submit_buttom {
                    width: $tamaño_boton_sumbit;
                    height: 40px;
                }
            }
        }
    }

    .fondo_formulario {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        background-color: #750000bb;
        width: 80%;
        height: 80%;
        clip-path: none;
    }

    /* Footer */
    footer p{
        font-size: smaller;
        text-align: center;
    }
    .contenedor_de_footer_nav{
        position: relative;
        width: 50%;
    }

    .Otras_referencias_footer {
        position: relative;
        width: 50%;
    }

}

@media (min-width:350px) and (max-width:429px) {

    /* Barra de navegación */
    .nav_Bar label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_check {
        z-index: 10000;

        &:checked~.contenedor_de_nav{
            background-color: rgba(141, 26, 26, 0.5);
            position: absolute;
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 50px;
            justify-content: start;
        }
    }
    
    .nav_Bar .contenedor_de_nav {
        display: none;
    }
    
    .nav_Bar .logo img {
        position: fixed;
        right: 50%;
        bottom: 50%;
        transform: translate(55%,50%);
        margin-left: 0;
    }
    /* Index */
    .primer_contenido {
        margin-top: 10%;
        padding: 0;
        // margin-bottom: 15px;
        
        .imagen_principal_fondo {
            background-repeat: no-repeat;
            height: 65vh;
             
            .contenido_header {
                display: grid;
                grid-template-areas: 
                "imagen"
                "texto"
                ;
                padding: 0 5%;

                .imagen_laptop {
                    width: 100%;
                    height: auto;
                    padding: 20px;
                    grid-area: imagen;
                }

                .titulo_principal {
                    width: 100%;
                    height: auto;
                    grid-area: texto;

                    h1 {
                        font-size: 45px;
                    }

                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .articulo_principal {
        display: flex;
        flex-direction: column;
        text-align: center;

        article {
            position: relative;
            width: 300px;
            
            h2 {
                margin-bottom: 20px;
            }
            
            p {
                margin: 7px;
                
            }
        }
    }
    .novedades .contenido_tarjeta .tarjeta{
        transform: translate(0, 20%);
        background-color: rgba(255, 0, 0, 0.699);
    }

    .redes_sociales article a.subscribete:hover {
        scale: 1;
        font-weight: normal;
    }
    /* Nosotros */
    .quienes_somos {
        overflow: hidden;
        
        .contenedor_de_nosotros {
            display: flex;
            flex-direction: column;
            height: 94vh;
            padding-left: 5%;
            padding-bottom: 5%;
            font-size: small;
            text-align: center;
            
            .imagen_presentacion {
                position: absolute;
                width: 85%;
                height: 20vh;
                margin-top: 70px;
                clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
            }
        }
    }
    /* Especificaciones */
    .bg_especificaciones{
        width: 100%;
        height: 220vh;
        background-size: cover;
        background-position: center;
    }

    .caracteristica_principales {
        width: 80%;
        height: 200vh;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-areas: 
        "imagen"
        "contenedor";
        overflow: hidden;
        transform: translate(50%, 50%);

        .imagen_caracteristica_principales {
            width: 100%;
            height: 100%;
            font-size: 24px;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
            }
        }

        .especificaciones {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            grid-area: contenedor;

            .caja_de_espec:hover {
                scale: 1;
                filter: none;
            }
        }
    }
    /* Modelos */
    .titulo_modelos {
        top: 10%;
        height: 15vh;
    }

    .modelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        gap: 50px;
    }
    /* Suscribete */
    .formulario {
        left: 0%;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            padding: 0px;
    
            h1{
                font-size: 40px;
                margin:  0;
            }
    
            p{
                width: 70%;
                margin: 15px 0;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin-top: 40px;
    
                .form_item {
                    width: 70%;
                    height: 40px;
                    margin: 10px 0;
                }
    
                .form_submit_buttom {
                    width: $tamaño_boton_sumbit;
                    height: 40px;
                }
            }
        }
    }

    .fondo_formulario {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        background-color: #750000bb;
        width: 80%;
        height: 80%;
        clip-path: none;
    }
    /* Footer */
    footer p{
        font-size: smaller;
        text-align: center;
    }
    .contenedor_de_footer_nav{
        position: relative;
        width: 50%;
    }

    .Otras_referencias_footer {
        position: relative;
        width: 50%;
    }
}

@media (min-width:332px) and (max-width:349px) {

    /* Barra de navegación */
    .nav_Bar label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_check {
        z-index: 10000;

        &:checked~.contenedor_de_nav{
            background-color: rgba(141, 26, 26, 0.5);
            position: absolute;
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 50px;
            justify-content: start;
        }
    }
    
    .nav_Bar .contenedor_de_nav {
        display: none;
    }
    
    .nav_Bar .logo img {
        position: fixed;
        right: 50%;
        bottom: 50%;
        transform: translate(55%,50%);
        margin-left: 0;
    }
    /* Index */
    .primer_contenido {
        margin-top: 10%;
        padding: 0;
        margin-bottom: 30px;
        
        .imagen_principal_fondo {
            background-repeat: no-repeat;
            height: 65vh;
             
            .contenido_header {
                display: grid;
                grid-template-areas: 
                "imagen"
                "texto"
                ;
                padding: 0 5%;

                .imagen_laptop {
                    width: 100%;
                    height: auto;
                    padding: 20px;
                    grid-area: imagen;
                }

                .titulo_principal {
                    width: 100%;
                    height: auto;
                    grid-area: texto;

                    h1 {
                        font-size: 45px;
                    }

                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .articulo_principal {
        display: flex;
        flex-direction: column;
        text-align: center;

        article {
            position: relative;
            width: 250px;
            
            h2 {
                margin-bottom: 20px;
            }
            
            p {
                margin: 7px;
                
            }
        }
    }

    .novedades .contenido_tarjeta .tarjeta{
        transform: translate(0, 20%);
        background-color: rgba(255, 0, 0, 0.699);
    }

    .redes_sociales article a.subscribete:hover {
        scale: 1;
        font-weight: normal;
    }
    /* Nosotros */
    .quienes_somos {
        overflow: hidden;
        
        .contenedor_de_nosotros {
            display: flex;
            flex-direction: column;
            height: 94vh;
            padding-left: 5%;
            padding-bottom: 3%;
            font-size: 12px;
            text-align: center;
            
            .imagen_presentacion {
                position: absolute;
                width: 85%;
                height: 28vh;
                margin-top: 70px;
                clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
            }
        }
    }
    /* Especificaciones */
    .bg_especificaciones{
        width: 100%;
        height: 220vh;
        background-size: cover;
        background-position: center;
    }

    .caracteristica_principales {
        width: 80%;
        height: 200vh;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-areas: 
        "imagen"
        "contenedor";
        overflow: hidden;
        transform: translate(50%, 50%);

        .imagen_caracteristica_principales {
            width: 100%;
            height: 100%;
            font-size: 24px;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
            }
        }

        .especificaciones {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            grid-area: contenedor;

            .caja_de_espec:hover {
                scale: 1;
                filter: none;
            }
        }
    }
    /* Modelos */
    .titulo_modelos {
        top: 10%;
        height: 15vh;
    }

    .modelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        gap: 50px;
    }
    /* Suscribete */
    .formulario {
        left: 0%;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            padding: 0px;
    
            h1{
                font-size: 40px;
                margin:  0;
            }
    
            p{
                width: 70%;
                margin: 15px 0;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin-top: 40px;
    
                .form_item {
                    width: 70%;
                    height: 40px;
                    margin: 10px 0;
                }
    
                .form_submit_buttom {
                    width: $tamaño_boton_sumbit;
                    height: 40px;
                }
            }
        }
    }

    .fondo_formulario {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        background-color: #750000bb;
        width: 80%;
        height: 80%;
        clip-path: none;
    }
    /* Footer */
    footer p{
        font-size: smaller;
        text-align: center;
    }
    .contenedor_de_footer_nav{
        position: relative;
        width: 50%;
    }

    .Otras_referencias_footer {
        position: relative;
        width: 50%;
    }
}

@media (min-width:280px) and (max-width:331px) {

    /* Barra de navegación */
    .nav_Bar label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu_check {
        z-index: 10000;

        &:checked~.contenedor_de_nav{
            background-color: rgba(141, 26, 26, 0.5);
            position: absolute;
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 50px;
            justify-content: start;
        }
    }
    
    .nav_Bar .contenedor_de_nav {
        display: none;
    }
    
    .nav_Bar .logo img {
        position: fixed;
        right: 50%;
        bottom: 50%;
        transform: translate(55%,50%);
        margin-left: 0;
    }
    /* Index */
    .primer_contenido {
        margin-top: 10%;
        padding: 0;
        
        .imagen_principal_fondo {
            background-repeat: no-repeat;
            height: 60vh;
             
            .contenido_header {
                display: grid;
                grid-template-areas: 
                "imagen"
                "texto"
                ;
                padding: 0 5%;

                .imagen_laptop {
                    width: 100%;
                    height: auto;
                    padding: 20px;
                    grid-area: imagen;
                }

                .titulo_principal {
                    width: 100%;
                    height: auto;
                    grid-area: texto;

                    h1 {
                        font-size: 35px;
                    }

                    h2 {
                        font-size: small;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: smaller;
                    }
                }
            }
        }
    }

    .articulo_principal {
        display: flex;
        flex-direction: column;
        text-align: center;

        article {
            position: relative;
            width: 200px;
            font-size: small;
            
            h2 {
                margin-bottom: 20px;
            }
            
            p {
                margin: 7px;
                
            }
        }
    }

    .novedades .contenido_tarjeta .tarjeta{
        transform: translate(0, 20%);
        background-color: rgba(255, 0, 0, 0.699);
    }

    .redes_sociales article a.subscribete:hover {
        scale: 1;
        font-weight: normal;
    }
    /* Nosotros */
    .quienes_somos {
        overflow: hidden;
        
        .contenedor_de_nosotros {
            display: flex;
            flex-direction: column;
            height: 94vh;
            padding-left: 5%;
            padding-bottom: 3%;
            font-size: 10px;
            text-align: center;
            
            .imagen_presentacion {
                position: absolute;
                width: 85%;
                height: 35vh;
                margin-top: 70px;
                clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0);
            }
        }
    }
    /* Especificaciones */
    .bg_especificaciones{
        width: 100%;
        height: 220vh;
        background-size: cover;
        background-position: center;
    }

    .caracteristica_principales {
        width: 80%;
        height: 200vh;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-areas: 
        "imagen"
        "contenedor";
        overflow: hidden;
        transform: translate(50%, 50%);

        .imagen_caracteristica_principales {
            width: 100%;
            height: 100%;
            font-size: 24px;
            text-align: center;
            align-content: center;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
                width: 100%;
                height: 100%;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-weight: bolder;
            }
        }

        .especificaciones {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 15px;
            grid-area: contenedor;

            .caja_de_espec:hover {
                scale: 1;
                filter: none;
            }
        }
    }
    /* Modelos */
    .titulo_modelos {
        top: 10%;
        height: 15vh;
    }

    .modelos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        gap: 50px;
    }
    /* Suscribete */
    .formulario {
        left: 0%;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            padding: 0px;
    
            h1{
                font-size: 40px;
                margin:  0;
            }
    
            p{
                width: 70%;
                margin: 15px 0;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin-top: 40px;
    
                .form_item {
                    width: 70%;
                    height: 40px;
                    margin: 10px 0;
                }
    
                .form_submit_buttom {
                    width: $tamaño_boton_sumbit;
                    height: 40px;
                }
            }
        }
    }

    .fondo_formulario {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        background-color: #750000bb;
        width: 80%;
        height: 80%;
        clip-path: none;
    }
    /* Footer */

    footer p{
        font-size: smaller;
        text-align: center;
    }

    .contenedor_de_footer_nav{
        position: relative;
        width: 50%;
    }

    .Otras_referencias_footer {
        position: relative;
        width: 50%;
    }
}